<div class="container">

    <div id="modalEdit" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Editar apunte</h3>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <input type="hidden" id="id" value="[[apunteEditar.id]]">
                        <div class="form-group">
                            <label for="fecha">Fecha</label>
                            <input class="form-control" ng-model="apunteEditar.fecha" type="date" id="fecha" placeholder="fecha">
                        </div>
                        <div class="form-group">
                            <label for="cuenta">Cuenta</label>
                            <select class="form-control" options-proxy id="cuenta" ng-model="apunteEditar.cuenta" ng-options="c.id as c.name for c in cuentas"></select>
                        </div>
                        <div class="form-group">
                            <label for="empresa">Empresa</label>
                            <select class="form-control" options-proxy id="empresa" ng-model="apunteEditar.empresa" ng-options="e.id as e.name for e in empresas"></select>
                        </div>
                        <div class="form-group">
                            <label for="cantidad">Cantidad</label>
                            <input class="form-control" type="text" id="cantidad" placeholder="cantidad"  ng-model="apunteEditar.cantidad">
                        </div>
                        <div class="form-group">
                            <label for="notas">Notas</label>
                            <textarea class="form-control" rows="3" id="notas" placeholder="notas" ng-model="apunteEditar.notas" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
                    <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="save(apunteEditar)">Guardar cambios</a>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped" id="tablePresupuestos">
        <thead>
        <tr>
            <th class="hidden">#</th>
            <th>Nombre</th>
            <th>Consumido este Mes</th>
            <th>Presupuesto Mensual</th>
            <th>Consumido este año</th>
            <th>Presupuesto anual</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="presu in presupuestos"  >
            <td>[[presu.nombre]]</td>
            <td ng-class="{badpresu: (presu.presupuestoMes - presu.consumidoMes) < 0 && (presu.presupuestoMes != 0)}">[[presu.consumidoMes]] (diff: [[presu.presupuestoMes - presu.consumidoMes]])</td>
            <td>[[presu.presupuestoMes]]</td>
            <td ng-class="{badpresu: (presu.presupuestoAnual - presu.consumidoAnual) < 0 && (presu.presupuestoAnual != 0)}">[[presu.consumidoAnual]] (diff: [[presu.presupuestoAnual - presu.consumidoAnual]])</td>
            <td>[[presu.presupuestoAnual]]</td>
        </tr>
        </tbody>
    </table>

    <div class="well well-small">
        <form class="form-inline" name="apunte_form_new" ng-submit="add(apunteNuevo)">
            <input ng-model="apunteNuevo.fecha" type="date" class="form-control" placeholder="Fecha" required="required">
            <select options-proxy class="form-control" ng-model="apunteNuevo.cuenta" ng-options="c.id as c.name for c in cuentas" required="required"></select>
            <select options-proxy class="form-control" ng-model="apunteNuevo.empresa" ng-options="e.id as e.name for e in empresas" required="required"></select>
            <input ng-model="apunteNuevo.cantidad" class="form-control" id="appendedPrependedInput" type="text" required="required">
            <span class="add-on">€</span>
            <input ng-model="apunteNuevo.notas" type="text" class="form-control" placeholder="Notas">
            <button type="submit" class="btn">Guardar</button>
        </form>
    </div>
    <div class="well well-small">
        <form class="form-inline" ng-submit="search(apunteSearch.query)">
            <input ng-model="apunteSearch.query" type="text" required="required" class="input-medium search-query form-control">
            <span id="searchrange">
                <i class="icon-calendar icon-large"></i>
                <span>Fecha Desde - Fecha Hasta</span> <b class="caret"></b>
            </span>
            <button type="submit" class="btn">Buscar</button>
        </form>
    </div>
    <p>
        <a ng-click="list(ultimoMes)" class="glyphicon glyphicon-fast-backward"></a>
        <a ng-click="list(mesDesde + 1 )" class="glyphicon glyphicon-step-backward"></a>
        <span>Viendo los datos de [[mesDesde]] meses atras</span>
        <a ng-click="list(mesDesde -  1 )" class="glyphicon glyphicon-step-forward"></a>
        <a ng-click="list(0)" class="glyphicon glyphicon-fast-forward"></a>
    </p>
    <p>
        Total de este mes <strong>[[totalMes.toFixed(2)]]</strong>.
    </p>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th class="hidden">#</th>
            <th><a ng-click="orderByField='fecha'; reverseSort = !reverseSort">Fecha</a></th>
            <th><a ng-click="orderByField='notas'; reverseSort = !reverseSort">Notas</a></th>
            <th><a ng-click="orderByField='cuenta.name'; reverseSort = !reverseSort">Cuenta</a></th>
            <th><a ng-click="orderByField='empresa.name'; reverseSort = !reverseSort">Empresa</a></th>
            <th><a ng-click="orderByField='cantidad'; reverseSort = !reverseSort">Cantidad</a></th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="apunte in apuntes|orderBy:orderByField:reverseSort" ng-dblclick="edit($index)" >
            <td class="hidden">[[apunte.id]]</td>
            <td>[[apunte.fecha]]</td>
            <td>[[apunte.notas]]</td>
            <td>[[apunte.cuenta.name]]</td>
            <td>[[apunte.empresa.name]]</td>
            <td>[[apunte.cantidad]]</td>
            <td>
                <a ng-click="delete($index)" class="glyphicon glyphicon-remove"></a>
                <a ng-click="edit($index)" class="glyphicon glyphicon-edit"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <select ng-model="chart_anio.anio1" ng-options="a for a in anios"></select>
    <select ng-model="chart_anio.anio2" ng-options="a for a in anios"></select>
    <div id="chart-mensual">
        <highchart id="chart1" config="chartAnioConfig" class="span12" ></highchart>
    </div>
    <div id="chart-cuentas">
        <select ng-model="chart_mes.anio1" ng-options="a for a in anios"></select>
        <select ng-model="chart_mes.mes1" ng-options="m for m in [1,2,3,4,5,6,7,8,9,10,11,12]"></select>
        <select ng-model="chart_mes.anio2" ng-options="a for a in anios"></select>
        <select ng-model="chart_mes.mes2" ng-options="m for m in [1,2,3,4,5,6,7,8,9,10,11,12]"></select>

        <highchart id="chart2" config="chartMesConfig" class="span12" ></highchart>
    </div>
</div>
