<div class="container">

    <div id="modalEdit" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Editar apunte</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <input type="hidden" id="id" value="[[apunteEditar.id]]">
                <div class="control-group">
                    <label class="control-label" for="fecha">Fecha</label>
                    <div class="controls">
                        <input type="date" id="fecha" placeholder="fecha" value="[[apunteEditar.fecha]]">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="cuenta">Cuenta</label>
                    <div class="controls">
                        <select id="apunteEditar.cuanta" ng-model="cuenta" ng-options="c.id as c.name for c in cuentas"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="empresa">Empresa</label>
                    <div class="controls">
                        <select id="apunteEditar.empresa" ng-model="empresa" ng-options="e.id as e.name for e in empresas"></select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="cantidad">Cantidad</label>
                    <div class="controls">
                        <input type="text" id="cantidad" placeholder="cantidad"  value="[[apunteEditar.cantidad]]">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="notas">Notas</label>
                    <div class="controls">
                        <textarea rows="3" id="notas" placeholder="notas">[[apunteEditar.notas]]</textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
            <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="save(apunteEditar)">Guardar cambios</a>
        </div>
    </div>

    <form class="form-inline">
        <input type="date" class="input" placeholder="Fecha">
        <div class="input-append">
            <input class="span2" id="appendedPrependedInput" type="text">
            <span class="add-on">€</span>
        </div>
        <button type="submit" class="btn">Guardar</button>
    </form>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Fecha</th>
            <th>Cuenta</th>
            <th>Empresa</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="apunte in apuntes" ng-dblclick="edit($index)">
            <td>[[apunte.id]]</td>
            <td>[[apunte.fecha]]</td>
            <td>[[apunte.cuenta.name]]</td>
            <td>[[apunte.empresa.name]]</td>
            <td>[[apunte.cantidad]]</td>
            <td>
                <a ng-click="delete($index)" class="icon-remove"></a>
                <a ng-click="edit($index)" class="icon-edit"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>