<div class="container">

    <div id="modalEdit" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Editar cuenta</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <input type="hidden" id="id" value="[[cuentaEditar.id]]">
                <div class="control-group">
                    <label class="control-label" for="name">Nombre</label>
                    <div class="controls">
                        <input ng-model="cuentaEditar.name" type="text" id="name" placeholder="name">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="grupo">Grupo de cuentas</label>
                    <div class="controls">
                        <select options-proxy id="grupo" ng-model="cuentaEditar.grupo" ng-options="g.id as g.name for g in grupos"></select>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Close</a>
            <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="save(cuentaEditar)">Guardar cambios</a>
        </div>
    </div>


    <div class="well well-small">
        <form class="form-inline" name="cuenta_form_new" ng-submit="add(cuentaNueva)">
            <input ng-model="cuentaNueva.name" type="text" class="input" placeholder="Nombre" required="required">
            <select options-proxy ng-model="cuentaNueva.grupo" ng-options="g.id as g.name for g in grupos" required="required"></select>
            <button type="submit" class="btn">Guardar</button>
        </form>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="hidden">#</th>
            <th>Nombre</th>
            <th>Grupo</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="cuenta in cuentas" ng-dblclick="edit($index)">
            <td class="hidden">[[cuenta.id]]</td>
            <td>[[cuenta.name]]</td>
            <td>[[cuenta.grupo.name]]</td>
            <td>
                <a ng-click="delete($index)" class="icon-remove"></a>
                <a ng-click="edit($index)" class="icon-edit"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>