{% extends "FerSifpeBundle::layout.html.twig" %}

{% block title "SIFPE v5 - Gastos" %}

{% block content_header '' %}

{% block content %}
    <div class="container" ng-app="sifpeApp">
        <div ng-view=""></div>
    </div>
{% endblock %}
